
.c_box
{
    width:200px;
    display:inline-block;
}
.space{
    padding-left:50px;
}
#ini{
    width:150px;
    margin:auto;
   
}



.src
{
   padding-top:1px;
   height:40px;
   width:1200px;
   margin:auto;
   
}

.source_class{
   margin-top:-20px;
   background-color: #f5f5f0;
   height:130px;
   padding-bottom:50px;
}


div.vis-network div.vis-navigation div.vis-button.vis-right {


    background-image: url(right.png);
     background-repeat: no-repeat;
    background-size: 34px auto;
bottom: 15px;
left: 120px;
}

div.vis-network div.vis-navigation div.vis-button.vis-up {


    background-image: url(top.png);
     background-repeat: no-repeat;
    background-size: 34px auto;
bottom: 60px;
left: 75px;

}
div.vis-network div.vis-navigation div.vis-button.vis-left {


    background-image: url(left.png);
    background-repeat: no-repeat;
    background-size: 34px auto;
bottom: 15px;
left: 30px;

}

div.vis-network div.vis-navigation div.vis-button.vis-zoomOut{
    background-image: url(minus.png);
     background-repeat: no-repeat;
    background-size: 34px auto;
bottom: 15px;
right: 120px;
}
div.vis-network div.vis-navigation div.vis-button.vis-zoomIn{
    background-image: url(plus.png);
     background-repeat: no-repeat;
    background-size: 34px auto;
bottom: 15px;
right: 75px;
}

div.vis-network div.vis-navigation div.vis-button.vis-zoomExtends
{
     background-image: url(ref.png);
      background-repeat: no-repeat;
    background-size: 34px auto;
bottom: 15px;
right: 30px;
}

div.vis-network div.vis-navigation div.vis-button.vis-down {


    background-image: url(bottom.png);
     background-repeat: no-repeat;
    background-size: 34px auto;
bottom: 15px;
left: 75px;
}
div.vis-network div.vis-navigation div.vis-button {
    background-position: 0px 0px;
}


#med {
    margin-bottom:  0px;
}

.content_class{
    width:1200px;
    margin:auto;
}

.func_class{
     width:1200px;
    margin:auto;
}

.my_table{
    margin-bottom:25px;
}


table.my_table {
    border-collapse: separate;
    border-spacing: 200px 10px;
 
}

.canv_class{

    width: 100%;
            height: 400px;
            border: 1px solid #444444;
            background-color: #222222;
}


.timeline-set {
   /* position:relative;*/
	padding-left: 8em;
}

/*== Timeline Entries ==*/

.timeline {

}

 .svg_cont
{
/*  position: absolute;
  width: 1500px;
  height: 21000px;
  margin: 0px;*/
   position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
   z-index: 10;
}

 #timelines{
       width: 1200px;
            height: 1600px;
            border: 1px solid #444444;
            background-color: #222222;


 }


.timeline .entry {
	padding: 1.5em 0.3em;
	border: 1px solid #ddd;
	margin: 0;
}

.timeline .entry .timestamp {
	font-style: italic;
}

.timeline .entry .text {
	font-size: 150%;
}

.timeline .entry .image {
	background-color: #eef;
	border: 1px solid #ddd;
}

.timeline .entry .image img {
	width: 90%;
	height: auto;
	display: block;
	margin: 1em auto 1em auto;
}
.timeline .bt{

}
.timeline .links {
	background-color: #faa;
}

.timeline .links dt {
	margin-left: -2em;
}

/*== Time axis ==*/

.timeaxis {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.timeaxis .day {
	color: white;
	background-color: rgb(51, 122, 183);
	font-weight: bold;
	opacity: 0.8;
}

.timeaxis .day:nth-child(2n+1) {
	background-color: rgb(49, 112, 143);
}

.timeaxis .day span {
	display: block;
	padding-top: 1.5em;
	padding-left: 1.5em;
}
